.navbar-brand {
    color: white;
}

h1 {
    margin-top: 10px;
}

main {
    background-color: grey;
}

.navbar-toggler {
    background-color: white;
}

.item {
    color: white;
    text-decoration: none;
    text-align: center;
}

@media (min-width: 768px) {
    .item {
        display: none;
    }
}